transformers
requests
torch --index-url https://download.pytorch.org/whl/cu117
https://huggingface.co/Abishani/amrs-cineresum-summarizer/blob/main/tokenizer_config.json
https://huggingface.co/Abishani/amrs-cineresum-summarizer/blob/main/tokenizer.json
https://huggingface.co/Abishani/amrs-cineresum-summarizer/blob/main/spiece.model
https://huggingface.co/Abishani/amrs-cineresum-summarizer/blob/main/special_tokens_map.json
https://huggingface.co/Abishani/amrs-cineresum-summarizer/blob/main/pytorch_model.bin
https://huggingface.co/Abishani/amrs-cineresum-summarizer/blob/main/generation_config.json
https://huggingface.co/Abishani/amrs-cineresum-summarizer/blob/main/config.json