transformers
requests
torch --index-url https://download.pytorch.org/whl/cu117
$ curl -X POST -H "Authorization: Bearer YOUR_HUGGINGFACE_API_KEY" -H "Content-Type: application/json" -d '{"inputs": "I love AutoTrain"}' https://api-inference.huggingface.co/Abishani/autotrain-abmrs-56629131288